body
{
    color: purple;
    background: rgb(8, 207, 158);
}
.heading
{
    font-size: 22px;
}
#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{
    color: red;
}
